body {
  background: #f1f1f1;
  font-family: Cambria, serif;
}

#title {
  text-align: center;
  font-weight: bold;
}

#simple {
  color: #ef6363;
}

.btnsimple {
  color: #ef6363;
  border: 1px solid #ef6363;
  background: transparent;
  font-size: 1em;
  padding: 10px 5px;
  margin-top: 25px;
  font-weight: 100;
  width: 150px;
  letter-spacing: 3px;
  cursor: pointer;
}
#disc {
  color: #48aaf3
}
.btndisc {
  color: #48aaf3;
  background: transparent;
  font-size: 1em;
  padding: 10px 5px;
  margin-top: 25px;
  font-weight: 100;
  width: 150px;
  letter-spacing: 3px;
  cursor: pointer;
  border: 1px solid #48aaf3
}
.btn {
  background: transparent;
  font-size: 1em;
  padding: 10px 5px;
  margin-top: 25px;
  font-weight: 100;
  width: 150px;
  letter-spacing: 3px;
  cursor: pointer;
  border: 1px solid
}


#btn-start:hover {
  background: #d25d5d;
  color: #fff;
}

#reset {
  font-size: 2em;
  position: absolute;
  bottom: 150px;
  right: 3em;
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #d25d5d;
  text-decoration: none;
  color: #d25d5d;
}
#reset:hover {
  background: #d23425;
  color: #fff;
}

#menu {
  font-size: 2em;
  position: absolute;
  bottom: 50px;
  right: 3em;
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #d25d5d;
  text-decoration: none;
  color: #d25d5d;
}
#menu:hover {
  background: #d23425;
  color: #fff;
}

#reaction-time {
  width: 100%;
  color: #d25d5d;
}

.the-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.row {
  width:100%;
  display:inline-block;
}
.row div {
  width:50%;
  float:left;
}
.fixed {
  height: 80px;
}